= javascript_include_tag "init/textile_init"

= simple_form_for(@menu_product, :html => { :class => 'row col-md-9' }) do |f|
  = f.error_notification

  = hidden_field_tag :back_url, back_url
  = f.input :name, label: t('menu.products.name'), as: :string
  = f.input :product_category_id, collection: Menu::ProductCategory.order_by_name(I18n.locale),
                                  label: t('menu.products.category'), label_method: :any_name
  .row
    .col-sm-3
      = f.input :calories, label: t('menu.products.calories')
  .row
    .col-sm-2
      = f.input :proteins, label: t('menu.products.proteins')
    .col-sm-2
      = f.input :fats, label: t('menu.products.fats')
    .col-sm-2
      = f.input :carbohydrates, label: t('menu.products.carbohydrates')

  = f.input :description, as: :text, label: t('menu.products.description'), input_html: {:rows => 15, :class => 'textile'}

  .row
    .col-sm-3
      = f.input :norm, label: t('menu.products.norm_default')
  = f.input :norm_info, as: :text, label: t('menu.products.norm'), input_html: {:rows => 5}

  - if policy(Menu::Product).change_icon?
    = f.input :photo, label: t('menu.products.icon'), as: :file, wrapper: :vertical_file_input
    - if @menu_product.persisted? && @menu_product.photo.present?
      = image_tag @menu_product.photo.url(:thumb), class: 'img-thumbnail'

  - if policy(Menu::Product).make_public?
    = f.input :is_public, label: t('menu.products.is_public'), wrapper: :vertical_boolean, as: :boolean

  .form-actions
    = f.button :submit, class: 'btn-primary', value: t('helpers.links.save')
    = link_to t("helpers.links.cancel"), back_url(menu_products_path), class: 'btn'
