%h3
  = title @menu_product.translation(:name)
  - if policy(@menu_product).edit? || policy(@menu_product).destroy?
    .btn-group.btn-group-xs.pull-right.hidden-print
      - if policy(@menu_product).edit?
        %a.btn.btn-default{href: edit_menu_product_path(@menu_product), title: t("helpers.links.edit")}
          %i.glyphicon.glyphicon-edit
          = t("helpers.links.edit")
      - if policy(@menu_product).destroy?
        %a.btn.btn-default{href: menu_product_path(@menu_product), data: { confirm: t('helpers.links.confirm'), method: :delete }}
          %i.glyphicon.glyphicon-remove
          = t("helpers.links.destroy")
%div.product-img
  = image_tag @menu_product.photo.url, class: 'img-responsive'

- if !@menu_product.description.blank?
  .description= raw safe_textile(@menu_product.description)

- if !@menu_product.norm_info.blank?
  .norm-info
    %h4= t('menu.products.norm')
    %p
      =raw h(@menu_product.norm_info).gsub("\n", '<br/>')

%h4= t 'menu.products.caloric'
.row
  .col-sm-5
    %table.table
      %tr
        %th= t('menu.products.calories')
        %th= t('menu.products.proteins')
        %th= t('menu.products.fats')
        %th= t('menu.products.carbohydrates')
      %tr
        %td= @menu_product.calories
        %td= @menu_product.proteins
        %td= @menu_product.fats
        %td= @menu_product.carbohydrates

= render 'shared/disqus', page_url: menu_product_url(@menu_product.id), page_id: @menu_product.id
