%h5= t('comments.title')
.comments
  - @comments.each do |comment|
    .comment{id: 'comment' + comment['id'].to_s}
      %p
        %b= comment['name']
        %span= l(comment['created_at'].to_time, :format => :long)
        %br
        = comment['comment']


- if user_signed_in?
  = form_tag("/trips/#{@trip.id}/comments", :method => "post", :class => "span10") do
    = text_area_tag(:comment, "", :class => "span", :rows => "8")
    %p
      %button.btn.btn-primary.pull-right= t('comments.send')
- else
  %p
    %a{href: new_user_session_path}= t('trip.login')
    = t('comments.to_leave_comments')
