%h5= t('comments.title')
.comments
  - if @comments.size == 0
    .no-comments= t('comments.no_comments')
  - @comments.each do |comment|
    .comment{id: 'comment' + comment['id'].to_s}
      .info
        %a.avatar
          = gravatar_image_tag(comment['email'], :alt => comment['name'], :gravatar => { :size => 24 })
        %span.username= comment['name']
        %time= l(comment['created_at'].to_time, :format => :long)
      .message
        = comment['comment']


- if user_signed_in?
  = form_tag("/trips/#{@trip.id}/comments", :method => "post", :class => "span10") do
    = text_area_tag(:comment, "", :class => "span", :rows => "8")
    %p
      %button.btn.btn-primary.pull-right= t('comments.send')
- else
  %p
    %a{href: new_user_session_path}= t('trip.login')
    = t('comments.to_leave_comments')
