%h5= t('trip.users')
.trip-users
  - if @joined_users.size > 0
    - @joined_users.each do |user|
      %p.user{user_id: user.id}
        = gravatar_image_tag(user.email, :alt => user.name, :gravatar => { :size => 50 })
        %span= user.name
        - if user_signed_in?
          - if @trip.user_id == current_user.id
            %a.icon-remove.decline{href: decline_trip_request_path(@trip.id, user.id), title: t("trip.decline")}
          - elsif user.id == current_user.id
            %a.icon-remove.leave{href: leave_trip_path(@trip.id), title: t("trip.cancel_request")}
  - else
    %p= t('trip.no_users')

- if @want_to_join_users.size > 0
  %h5= t('trip.want_to_join')
  .want-to-join-users
    - @want_to_join_users.each do |user|
      %p.user{user_id: user.id}
        = gravatar_image_tag(user.email, :alt => user.name, :gravatar => { :size => 50 })
        %span= user.name
        - if user_signed_in?
          - if @trip.user_id == current_user.id
            %a.icon-ok.approve{href: approve_trip_request_path(@trip.id, user.id), title: t("trip.approve")}
          - if @trip.user_id == current_user.id
            %a.icon-remove.decline{href: decline_trip_request_path(@trip.id, user.id), title: t("trip.decline")}
          - elsif user.id == current_user.id
            %a.icon-remove.leave{href: leave_trip_path(@trip.id), title: t("trip.cancel_request")}


- if user_signed_in?
  - if @trip.start_date > Time.now.to_date && @trip.user_can_join?(current_user.id)
    = form_tag("/trips/#{@trip.id}/join", :method => "post") do
      %p
        %button.btn.btn-primary= t('trip.join')
- else
  %p
    %a{href: new_user_session_path}= t('trip.login')
    = t('trip.to_join')