%h5= t('trip.users')
.trip-users
  - @joined_users.each do |user|
    %p.user{user_id: user.id}
      = gravatar_image_tag(user.email, :alt => user.name, :gravatar => { :size => 50 })
      %a.username{href: user_path(user.id)}= user.name
      - if user_signed_in?
        - if @trip.user_id == current_user.id
          %a.glyphicon.glyphicon-remove.decline{href: decline_trip_request_path(@trip.id, user.id), title: t("trip.decline")}
        - elsif user.id == current_user.id
          %a.glyphicon.glyphicon-remove.leave{href: leave_trip_path(@trip.id), title: t("trip.cancel_request")}
  
  %p.no-users{:class => ('x-hidden' if @joined_users.size > 0)}= t('trip.no_users')

%p.available-places{:class => ('x-hidden' if @trip.available_places == 0)}
  %b= t('account.trip.available_places') + ':'
  %span.places=@trip.available_places

%p.no-available-places{:class => ('x-hidden' if @trip.available_places > 0)}
  = t('trip.no_available_places')

- if @want_to_join_users.size > 0
  %h5= t('trip.want_to_join')
  .want-to-join-users
    - @want_to_join_users.each do |user|
      %p.user{user_id: user.id}
        = gravatar_image_tag(user.email, :alt => user.name, :gravatar => { :size => 50 })
        %a.username{href: user_path(user.id)}= user.name
        - if user_signed_in?
          - if @trip.user_id == current_user.id
            %a.glyphicon.glyphicon-ok.approve{href: approve_trip_request_path(@trip.id, user.id), title: t("trip.approve")}
          - if @trip.user_id == current_user.id
            %a.glyphicon.glyphicon-remove.decline{href: decline_trip_request_path(@trip.id, user.id), title: t("trip.decline")}
          - elsif user.id == current_user.id
            %a.glyphicon.glyphicon-remove.leave{href: leave_trip_path(@trip.id), title: t("trip.cancel_request")}

- if user_signed_in?
  - if @trip.start_date > Time.now.to_date && @trip.user_can_join?(current_user.id)
    = form_tag("/trips/#{@trip.id}/join", :method => "post") do
      %p
        %button.btn.btn-primary= t('trip.join')
- else
  %p
    %a{href: new_user_session_path}= t('trip.login')
    = t('trip.to_join')


#decline_reason.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", "aria-hidden" => "true"} &times;
        %h4.modal-title
          = t("trip.decline_reason")
          %span.username
      .modal-body
        %p
          %textarea.form-control.reason.span{rows: 5}
      .modal-footer
        %button.btn.btn-default{:type => 'button', "data-dismiss" => "modal"}= t('helpers.links.cancel')
        %button.btn.btn-primary{:type => 'button'}= t("trip.decline")