= javascript_include_tag "init/trips_init"

.grid
  .row
    .col-md-8
      %h3
        = title @track.name

        -if user_signed_in? && @trip.user_id == current_user.id
          .btn-group.btn-group-xs.pull-right
            %a.btn.btn-default{href: edit_account_track_path(@track), title: t("account.track.edit")}
              %i.glyphicon.glyphicon-edit.edit
              = t("account.track.track")
            %a.btn.btn-default{href: edit_account_trip_path(@trip), title: t("account.trip.edit")}
              %i.glyphicon.glyphicon-edit.edit
              = t("account.trip.trip")
            -if !@menu && user_signed_in? && @trip.user_id == current_user.id
              %a.btn.btn-default{:href => new_menu_menu_path + '?trip=' + @trip.id.to_s}
                %i.glyphicon.glyphicon-plus
                = t('menu.add')

      #description
        %p
          %b= t('region.region') + ':'
          %span= t(@region.name, :scope => 'region')

        %p.dates
          %b= t('account.trip.dates') + ":"
          %span= dates_range_text(@trip.start_date, @trip.end_date)
        - if trip_url(@trip, @track)
          %p
            %b= t('trip.site') + ":"
            %a{href: trip_url(@trip, @track)}
              = trip_url(@trip, @track)

        %p.organizer
          %b= t('trip.organizer') + ':'
          %a.username{href: user_path(@trip.user_id)}= @trip.user.name
          - if @trip.has_guide
            %span= t('trip.has_guide')

        %p.track
          %b= t('account.track.track') + ":"
          %span= @track.track

        - if !@trip.trip_details.empty?
          %h5= t('account.trip.details')
          .description= raw RedCloth.new(@trip.trip_details, [:filter_html]).to_html

        - if !@track.description.empty?
          %h5= t('account.track.description')
          .description= raw RedCloth.new(@track.description, [:filter_html]).to_html
        
        - if @menu
          %button.btn.btn-default.btn-xs.menu{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#menu'}
            %i.glyphicon.glyphicon-chevron-down
            = t 'trip.menu'
          #menu.collapse
            .panel.panel-default
              .panel-body
                = render "menu/menus/menu"

      #trip_comments
        = render :partial => "comments"

    #trip_users.col-md-4
      = render :partial => "users"
