= javascript_include_tag "init/trips_init"

.grid
  .row-fluid
    .span8
      %h3= @track.name

      %p
        %b= t('region.region') + ':'
        %span= t(@region.name, :scope => 'region')
      
      %p.dates
        %b= t('account.trip.dates') + ":"
        %span= l(@trip.start_date) + " - " + l(@trip.end_date)
      - if trip_url(@trip, @track)
        %p
          %b= t('trip.site') + ":"
          %a{href: trip_url(@trip, @track)}
            = trip_url(@trip, @track)
      
      %p.track
        %b= t('account.track.track') + ":"
        %span= @track.track
      .description= raw RedCloth.new(@track.description, [:filter_html]).to_html

      #trip_comments
        = render :partial => "comments"

    #trip_users.span4
      = render :partial => "users"
