= javascript_include_tag "init/food_init"

%h3= t('menu.title')

%div

#menu.row
  .span8
    .days
    %button.btn.add-day= t('menu.add_day')
  .span4
    %div.sidebar{"data-spy" => "affix", "data-offset-top" => "80"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => '#meal_list'}= t('menu.meals')
        %li
          %a{"data-toggle" => "tab", :href => '#dish_list'}= t('menu.dishes')
        %li
          %a{"data-toggle" => "tab", :href => '#product_list'}= t('menu.products')
      .tab-content
        #meal_list.tab-pane.active
        #dish_list.tab-pane.tree
        #product_list.tab-pane.tree