%h3= title t('helpers.links.sign_up')
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
  :html => {:class => 'form-vertical row col-md-6' }) do |f|
  = f.error_notification
  = f.input :name, :autofocus => true, :label => t('user.name')
  = f.input :email, :required => true
  = f.input :password, :required => true, :label => t('user.password')
  = f.input :password_confirmation, :required => true, :label => t('user.password_confirmation')
  .form-actions
    = f.button :submit, t('helpers.links.sign_up'), :class => 'btn-primary'
= render "devise/shared/links"
