= simple_form_for [:map, @map_marker], :html => { :class => 'row col-md-9' } do |f|
  = hidden_field_tag :back_url, params[:back_url] || request.referer

  -#= f.input :track_id, :collection => grouped_by_region(Track.where(user_id: current_user.id), Region.sorted),
  -#  :as => :grouped_select, :group_method => :last, :label => t('account.track.track')
  -#= f.input :dates_range, :label => t('account.trip.dates')
  -#= f.input :available_places, :label => t('account.trip.available_places')
  -#= f.input :trip_details, :hint => t('account.trip.details_hint'), input_html: {:rows => 10, :class => 'textile'}, :label => t('account.trip.details')
  -#= f.input :has_guide, :label => t('account.trip.has_guide'), wrapper: :vertical_boolean
  -#= f.input :menu_id, :collection => Menu::Menu.where(user_id: current_user.id), :label => t('trip.menu')
  = f.input :url, :label => t('account.trip.url')
  .form-actions
    = f.button :submit, :class => 'btn-primary', :value => t('helpers.links.save')
    = link_to t("helpers.links.cancel"), account_trips_path, :class => 'btn'
