= javascript_include_tag "tracks"

= simple_form_for [:account, @track], :html => { :class => 'form-horizontal span9' } do |f|
  = hidden_field_tag :back_url, params[:back_url] || request.referer

  = f.input :name, :label => t('account.track.name')
  = f.input :region_id, :collection => Region.sorted, :label_method => :t
  = f.input :description, input_html: {:rows => 10}, :label => t('account.track.description')
  = f.input :track, :label => t('account.track.track')
  = f.input :details_url, :label => t('account.track.url')
  .form-actions
    = f.button :submit, :value => t('helpers.links.save'), :class => 'btn-primary'
    = link_to t('helpers.links.cancel'), params[:back_url] || request.referer, :class => 'btn'
