%h3
  = title @user.name
  -if user_signed_in? && @user.id == current_user.id
    %a.glyphicon.glyphicon-edit.edit{href: user_profile_path, title: t("helpers.links.edit")}
= gravatar_image_tag(@user.email, :alt => @user.name, :gravatar => { :size => 50 })

- if !@profile.nil?
  %p
    = raw safe_textile(@profile.about)

  %h4= t 'user_profile.experience'
  %p
    = raw safe_textile(@profile.experience)

  %h4= t 'user_profile.equipment'
  %p
    = raw safe_textile(@profile.equipment)

  %h4= t 'user_profile.contacts'
  %p
    = raw safe_textile(@profile.contacts)

  -if user_signed_in? && current_user.can_view_private?(@user)
    -if !@profile.private_contacts.empty?
      %h4= t 'user_profile.private_contacts'
      %p
        = raw safe_textile(@profile.private_contacts)
    -if !@profile.private_info.empty?
      %h4= t 'user_profile.private_info'
      %p
        = raw safe_textile(@profile.private_info)