%h3= title t('devise.passwords.change_title')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name),
  :html => { :method => :put, :class => 'form-vertical row col-md-6' }) do |f|
  = f.input :reset_password_token, :as => :hidden
  = f.input :password, :autofocus => true, :as => :password, :label => t('user.password')
  = f.input :password_confirmation, :as => :password, :label => t('user.password_confirmation')
  .form-actions
    = f.button :submit, t('devise.passwords.change_my'), :class => 'btn-primary'
= render "devise/shared/links"
