.row-fluid
  .span8
    %h3= t('home.title')
    %p= t('home.description')

    %ul
      %li= t('home.list.text_calendar')
      %li= t('home.list.text_join_add')
      %li= t('home.list.text_profile')

    %p
      %a{href: '/about'}= t('home.more')

  .span4
    #upcoming
      %h5= t('home.upcoming_trips')