.row-fluid
  .span8
    %h3= t('home.title')
    %p= t('home.description')

    %ul
      %li= t('home.list.text_calendar')
      %li= t('home.list.text_join_add')
      %li= t('home.list.text_profile')

    %p
      %a{href: '/about'}= t('home.more')

  #trips.span4
    %h4.trips-header= t('home.upcoming_trips')
    .trips-body
      - @upcoming.each do |trip|
        .trip{"data-trip-id" => trip['id']}
          %a.name{href: '/trips/' + trip['id'].to_s}= trip['track_name']
          %span= I18n.t('region.' + trip['region_name'])
          %div
            %span= dates_range_text(trip['start_date'], trip['end_date'])
          - if trip['has_guide'] == 1
            %div
              %span= t('trip.has_guide')