= javascript_include_tag "init/food_init"

%script{type: "application/json", id: "menu_item"}
  = @menu.to_json.html_safe
%script{type: "application/json", id: "menu_days"}
  = @menu.menu_days.to_json.html_safe
%script{type: "application/json", id: "menu_entities"}
  = @menu.entities.to_json.html_safe

.row
  .span8
    #menu.menu
      = form_for @menu do
        = hidden_field_tag :back_url, params[:back_url] || request.referer
        %h3
          %input.name.input-xxlarge{:value => @menu.name, :name => 'name', :type => 'text',
            :placeholder => t('menu.name'), "data-value" => 'menu.name'}
        %span Users:
        %input.users_qty.input-mini{:name => 'users_qty', "data-value" => 'menu.users_qty', :value => @menu.users_qty}

        %span Days:
        %span.days 0

        .days
        %textarea.hide{name: 'data'}
        %button.btn.add-day{type: 'button'}= t('menu.add_day')
        .form-actions
          %button.btn.btn-primary.save= t('helpers.links.save')
          = link_to t('helpers.links.cancel'), params[:back_url] || request.referer, :class => 'btn'
  .span4
    %div.sidebar{"data-spy" => "affix", "data-offset-top" => "80"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => '#meal_list'}= t('menu.meals')
        %li
          %a{"data-toggle" => "tab", :href => '#dish_list'}= t('menu.dishes')
        %li
          %a{"data-toggle" => "tab", :href => '#product_list'}= t('menu.products')
      .tab-content
        #meal_list.tab-pane.active
        #dish_list.tab-pane.tree
        #product_list.tab-pane.tree