= javascript_include_tag "init/textile_init"
= javascript_include_tag "init/menu_init"

%script{type: "application/json", id: "menu_item"}
  = @menu.to_json.html_safe
%script{type: "application/json", id: "menu_days"}
  = @menu.menu_days.to_json.html_safe
%script{type: "application/json", id: "menu_entities"}
  = @menu.entities.to_json.html_safe

.row
  .col-md-8
    #menu.menu
      = simple_form_for @menu, html: { autocomplete: 'off' } do |f|
        = hidden_field_tag :back_url, params[:back_url] || request.referer
        = hidden_field_tag :trip, params[:trip] || 0
        - if params[:key]
          = hidden_field_tag :key, params[:key]
        %h3
          %input.form-control.name.input-xxlarge{:value => @menu.name, :name => 'name', :type => 'text',
            :placeholder => t('menu.name'), :"rv-value" => 'menu:name'}
        .row.fields
          .col.col-md-4
            %label.control-label.pull-left{for: 'users_count'}= t('menu.persons') + ':'
            %input.form-control.users_count{ :name => 'users_count', :"rv-value" => 'menu:users_count',
              :value => @menu.users_count}
          .col.col-md-4
            %label.control-label.pull-left= t('menu.days_coverage') + ':'
            .days_count
              %span{"rv-text" => 'menu:coverage | number'}
              %span /
              %span{"rv-text" => 'menu:days_count | number'}
          - if policy(Menu::Product).permitted_attributes.include?(:is_public)
            .col.col-md-4
              %label{for: 'is_public'}
                = t('menu.is_public') + ':'
                %input.is_public{:name => 'is_public', :id => 'is_public',
                  :type => 'checkbox', :"rv-value" => 'menu:is_public', :checked => @menu.is_public}
        .clearfix
        .days
          %ul.nav.nav-tabs
            %li
              %button.btn.add-day{type: 'button'}
                %i.glyphicon.glyphicon-plus
                = t('menu.day') + ':'
          .tab-content

        #accordion.panel-group{ role: "tablist" }
          .panel.panel-default
            #headingDescription.panel-heading{ role: "tab" }
              %h4.panel-title
                %a{ href: "#collapseDescription", :'data-toggle' => "collapse" }= t('menu.description')
            #collapseDescription.panel-collapse.collapse{:role => "tabpanel"}
              .panel-body
                = f.input :description, as: :text, label: false,
                                        input_html: { rows: 10, class: 'textile', :'rv-value' => 'menu:description'}
          .panel.panel-default
            #headingDescription.panel-heading{ role: "tab" }
              %h4.panel-title
                %a{ href: "#collapseProducts", :'data-toggle' => "collapse" }= t('menu.used_products')
            #collapseProducts.panel-collapse.collapse{:role => "tabpanel"}
              .panel-body
                #menu-products

        %textarea.hide{name: 'data'}
        .form-actions.clearfix
          .pull-right
            = link_to t('helpers.links.cancel'), params[:back_url] || request.referer, :class => 'btn'
            %button.btn.btn-primary.save= t('helpers.links.save')
  .col-md-4
    %div.sidebar{"data-spy" => "affix", "data-offset-top" => "80"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => '#meal_list'}= t('menu.meals')
        %li
          %a{"data-toggle" => "tab", :href => '#dish_list'}= t('menu.dishes.dishes')
        %li
          %a{"data-toggle" => "tab", :href => '#product_list'}= t('menu.products.products')
      .tab-content
        #meal_list.tab-pane.active
        #dish_list.tab-pane.tree
        #product_list.tab-pane.tree
