= javascript_include_tag "init/menu_init"

%script{type: "application/json", id: "menu_item"}
  = @menu.to_json.html_safe
%script{type: "application/json", id: "menu_days"}
  = @menu.menu_days.to_json.html_safe
%script{type: "application/json", id: "menu_entities"}
  = @menu.entities.to_json.html_safe

.row
  .col-md-8
    #menu.menu
      = form_for @menu do
        = hidden_field_tag :back_url, params[:back_url] || request.referer
        = hidden_field_tag :trip, params[:trip] || 0
        - if params[:key]
          = hidden_field_tag :key, params[:key]
        %h3
          %input.form-control.name.input-xxlarge{:value => @menu.name, :name => 'name', :type => 'text',
            :placeholder => t('menu.name'), "data-value" => 'menu.name'}
        .row.fields
          .col.col-md-4
            %label.control-label.pull-left{for: 'users_count'}= t('menu.persons') + ':'
            %input.form-control.users_count{:name => 'users_count', "data-value" => 'menu.users_count',
              :value => @menu.users_count}
          .col.col-md-4
            %label.control-label.pull-left= t('menu.days_coverage') + ':'
            .days_count
              %span{"data-text" => 'menu.coverage | number'}
              %span /
              %span{"data-text" => 'menu.days_count | number'}
          .col.col-md-4
            %label{for: 'is_public'}
              = t('menu.is_public') + ':'
              %input.is_public{:name => 'is_public', :id => 'is_public',
                :type => 'checkbox', "data-value" => 'menu.is_public', :checked => @menu.is_public}
        .clearfix
        .days
          %ul.nav.nav-tabs
            %li
              %button.btn.add-day{type: 'button'}
                %i.glyphicon.glyphicon-plus
                = t('menu.day') + ':'
          .tab-content
        %textarea.hide{name: 'data'}
        .form-actions
          %button.btn.btn-primary.save= t('helpers.links.save')
          = link_to t('helpers.links.cancel'), params[:back_url] || request.referer, :class => 'btn'
  .col-md-4
    %div.sidebar{"data-spy" => "affix", "data-offset-top" => "80"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => '#meal_list'}= t('menu.meals')
        %li
          %a{"data-toggle" => "tab", :href => '#dish_list'}= t('menu.dishes.dishes')
        %li
          %a{"data-toggle" => "tab", :href => '#product_list'}= t('menu.products.products')
      .tab-content
        #meal_list.tab-pane.active
        #dish_list.tab-pane.tree
        #product_list.tab-pane.tree
