- cache ['menu_products', menu_partition_cache_key(@menu, @partition), I18n.locale] do
  .products
    %h4.visible-print= t 'menu.products.products'
    %table.table
      %thead
        %tr
          %th= t('menu.products.name')
          %th= t('menu.usage')
          %th= t('menu.weight')
      %tbody
        - @menu.products.each do |product_id, product|
          %tr
            %td
              %span.name= product.translation(:name)
            %td
              - @menu.total_products[product_id][:count_groups].each do |weight, count|
                %span.group_weight
                  = "#{weight}#{t('menu.g')}"
                  %small= "(#{count})"
            %td
              %span.weight= (@menu.total_products[product_id][:total_weight]).to_s + t('menu.g')
