- cache ['menu', menu_cache_key(@menu)] do
  .menu
    %ul.nav.nav-tabs.hidden-print
      - @menu.days.each_with_index do |day, i|
        %li{:class => ('active' if i == 0)}
          %a{:href => "#day_#{i + 1}", "data-toggle" => "tab"}
            = "#{t('menu.day') + " " if i == 0}#{(i + 1)}"
    .tab-content.days
      - @menu.days.each_with_index do |day, i|
        .tab-pane.day{id: "day_#{i + 1}", class: ('active' if i == 0)}
          .panel-body
            %h4.visible-print= t('menu.day') + ' ' + day.num.to_s
            - if day.notes.present?
              .notes-text.text-warning= day.notes
            = render_entities(@menu, day.id, 0, @partition)

    - if @menu.description.present?
      .description
        %h4= t('menu.description')
        = raw safe_textile(@menu.description)
