%div.users_count
  %b= t('menu.persons') + ':'
  %span#users_count.editable.editable-click= @menu.users_count
  = render partial: 'shared/inline_form', locals: {name: 'users_count', action: menu_menu_path, type: 'number'}
  ,
  %b= t('menu.days_coverage') + ':'
  #{round_precision(@menu.coverage)} / #{@menu.days_count}