- content_for :description, t('menu.meta_description')
- content_for :keywords, t('menu.meta_keywords')

%h3= t 'nav.menu_builder'

%ul.nav.nav-tabs
  %li.active
    %a{href: "#"}= title t('menu.examples')
  - if user_signed_in?
    %li= link_to t('menu.my_menu'), menu_menus_path
%p
  = link_to t('menu.create'), new_menu_menu_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= t('menu.name')
      %th= t('menu.persons')
      %th= t('menu.days_coverage')
  %tbody
    - @menus.each do |menu|
      %tr.menu-item
        %td= link_to menu.name, menu_menu_path(menu.id)
        %td= menu.users_count
        %td
          #{round_precision(menu.coverage)} / #{menu.days_count}

= render 'shared/add_this'