- content_for :description, t('menu.meta_description')
- content_for :keywords, t('menu.meta_keywords')

%h3= t 'menu.examples'
%p
  = link_to t('menu.create'), new_menu_menu_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= t('menu.name')
      %th= t('menu.days')
      %th= t('helpers.actions')
  %tbody
    - @menus.each do |menu|
      %tr.menu-item
        %td= link_to menu.name, menu_menu_path(menu.id)
        %td
          #{menu.days_count}
        %td
          .btn-group
            = link_to new_menu_menu_path(create_from: menu), class: 'btn btn-default btn-sm', title: t('menu.clone') do
              = fa_icon 'copy'

= render 'shared/add_this'
