%h3= title t('menu.title')

.row
  .col-md-5
    .well.well-sm
      %h4
        = link_to t('menu.examples'), examples_menu_menus_path
        = "(#{@public_cnt})"
      %p= t('menu.dashboard.examples_info')
      .pull-right
        = link_to t('menu.dashboard.goto_menus'), examples_menu_menus_path
      .clearfix
  .col-md-5.col-md-offset-1
    .well.well-sm
      - if user_signed_in?
        %h4
          = link_to t('menu.my_menu'), my_menu_menus_path
          = (current_user ? "(#{@my_cnt})" : '')
          .pull-right= link_to t('menu.create'), new_menu_menu_path, :class => 'btn btn-primary'
        %p= t('menu.dashboard.my_menu_info_user')
        .pull-right= link_to t('menu.dashboard.goto_menus'), my_menu_menus_path
        .clearfix
      - else
        %h4
          = t('menu.my_menu')
          .pull-right= link_to t('menu.create'), new_menu_menu_path, :class => 'btn btn-primary'
        %p= t('menu.dashboard.my_menu_info_guest')
.row
  .col-md-5
    .well.well-sm
      %h4
        = link_to t('menu.dishes.dishes'), menu_dishes_path
        = "(#{@dishes_cnt})"
      %p= t('menu.dashboard.dishes_info')
      .pull-right= link_to t('menu.dashboard.goto_dishes'), menu_dishes_path
      .clearfix
  .col-md-5.col-md-offset-1
    .well.well-sm
      %h4
        = link_to t('menu.products.products'), menu_products_path
        = "(#{@products_cnt})"
      %p= t('menu.dashboard.products_info')
      .pull-right= link_to t('menu.dashboard.goto_products'), menu_products_path
      .clearfix

%h3
  = t 'menu.videos'
  %i.fa.fa-youtube
%p
  = link_to t('menu.view_create_demonstration'), "https://www.youtube.com/watch?v=I2iDm_fXqtU"

%hr
= render 'shared/add_this'

.row
  .col-md-8
    #disqus_comments
      = render 'shared/disqus'
