%h3= t 'nav.menu_builder'

%ul.nav.nav-tabs
  %li= link_to t('menu.examples'), menu_examples_path
  %li.active
    %a{href: "#"}= title t('menu.my_menu')

%p
  = link_to t('menu.create'), new_menu_menu_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= t('menu.name')
      %th= t('menu.persons')
      %th= t('menu.days_coverage')
      %th= t('helpers.actions')
  %tbody
    - @menus.each do |menu|
      %tr.menu-item
        %td= link_to menu.name, menu_menu_path(menu.id)
        %td= menu.users_count
        %td
          #{round_precision(menu.coverage)} / #{menu.days_count}
        %td
          = link_to t("helpers.links.edit"), edit_menu_menu_path(menu), :class => 'btn btn-mini'
          = link_to t("helpers.links.destroy"), menu_menu_path(menu),
            :method => :delete, :data => { :confirm => t('helpers.links.confirm')}, :class => 'btn btn-mini btn-danger'