%h3= t 'menu.my_menu'

%p
  = link_to t('menu.create'), new_menu_menu_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= t('menu.name')
      %th= t('menu.persons')
      %th= t('menu.days')
      %th= t('helpers.actions')
  %tbody
    - @menus.each do |menu|
      %tr.menu-item
        %td= link_to menu.name, menu_menu_path(menu.id)
        %td= menu.users_count
        %td
          #{round_precision(menu.coverage)} / #{menu.days_count}
        %td
          .btn-group
            = link_to edit_menu_menu_path(menu), class: 'btn btn-default btn-sm', title: t('helpers.links.edit') do
              %i.glyphicon.glyphicon-edit
            = link_to new_menu_menu_path(create_from: menu), class: 'btn btn-default btn-sm', title: t('menu.clone') do
              = fa_icon 'copy'
            = link_to menu_menu_path(menu), method: :delete, data: { confirm: t('helpers.links.confirm')},
                                            class: 'btn btn-sm btn-danger', title: t('helpers.links.destroy') do
              %i.glyphicon.glyphicon-remove
