.rows
  .col-md-9
    %h3
      = title t('menu.dish_categories.title')
      .pull-right
        = link_to t('helpers.links.add'), new_menu_dish_category_path, :class => 'btn btn-primary'

    %table.table.table-striped
      %thead
        %tr
          %th= t('fields.name')
          %th= t('helpers.actions')
      %tbody
        - @menu_dish_categories.each do |dish_category|
          %tr.menu-item
            %td= dish_category.name
            %td
              .btn-group
                = link_to edit_menu_dish_category_path(dish_category), class: 'btn btn-default btn-sm', title: t('helpers.links.edit') do
                  %i.glyphicon.glyphicon-edit
                = link_to menu_dish_category_path(dish_category), method: :delete, data: { confirm: t('helpers.links.confirm')},
                                                class: 'btn btn-sm btn-danger', title: t('helpers.links.destroy') do
                  %i.glyphicon.glyphicon-remove
