= javascript_include_tag "init/partition_init"

%script{type: "application/json", id: "menu_item"}
  = @menu.to_json.html_safe
%script{type: "application/json", id: "menu_days"}
  = @menu.menu_days.to_json.html_safe
%script{type: "application/json", id: "menu_entities"}
  = @menu.entities.to_json.html_safe

- unless @partition.new_record?
  %script{type: "application/json", id: "porters"}
    = @partition.partition_porters.to_json.html_safe
  %script{type: "application/json", id: "porters_products"}
    = @partition.porter_products.to_json.html_safe

.row
  .col-md-7
    #menu.menu
      = form_for @partition, url: (@partition.new_record? ? menu_menu_partitions_path(@menu) : menu_menu_partition_path(@menu, @partition)) do
        = hidden_field_tag :back_url, params[:back_url] || request.referer
        .days
          %ul.nav.nav-tabs
          .tab-content
        %textarea.hide{name: 'data'}
        .form-actions
          %button.btn.btn-primary.save= t('helpers.links.save')
          = link_to t('helpers.links.cancel'), params[:back_url] || request.referer, :class => 'btn'
  .col-md-5
    %div.sidebar
      #partition_porters
        %h4
          = t 'menu.partitions.porters'
          .input-group
            %input.form-control.input-sm.name{placeholder: 'Enter name'}
            %span.input-group-btn
              %button.btn.btn-default.btn-sm.add
                %i.glyphicon.glyphicon-plus
        .body.porters-list.panel-group