.menu
  %ul.nav.nav-tabs.hidden-print
    - @menu.days.each_with_index do |day, i|
      %li{:class => ('active' if i == 0)}
        %a{:href => "#day_#{i + 1}", "data-toggle" => "tab"}
          = "#{t('menu.day') + " " if i == 0}#{(i + 1)}"
  .tab-content.days
    - @menu.days.each_with_index do |day, i|
      .tab-pane.day{id: "day_#{i + 1}", class: ('active' if i == 0)}
        .panel-body
          %h4.visible-print= t('menu.day') + ' ' + day.num.to_s
          = render_entities(@menu, day.id, 0, @partition)

  .products
    %h4= t 'menu.products.products'
    .well.well-small
      - @menu.products.each do |product_id, product|
        %div
          %span.name= product.name
          %span.weight= (@menu.total_products[product_id] * @menu.users_count).to_s + t('menu.g')

  .porters
    - @partition.porters_products_total.total.each do |id, porter_total|
      %div.porter_products{id: "porter_products#{id}"}
        %h4
          = porter_total[:porter].name
          %small.weight= "(#{porter_total[:weight].to_s + t('menu.g')})"
        .products_list
          - porter_total[:products].each do |id, product_total|
            .product
              %span= product_total[:product].name
              %span.weight= product_total[:weight].to_s + t('menu.g')