= javascript_include_tag "init/textile_init"
= javascript_include_tag "init/menu_dish_form_init"

.row
  .col-md-8
    = simple_form_for(@menu_dish) do |f|
      = f.error_notification

      = hidden_field_tag :back_url, back_url
      - if policy(@menu_dish).multilang?
        = render 'shared/fields/multilang_input', f: f, input_label: t('menu.dishes.name'), field: :name, object: @menu_dish
      - else
        = f.input :name, label: t('menu.dishes.name'), as: :string
      = f.input :dish_category_id, collection: Menu::DishCategory.order_by_name(I18n.locale),
                                   label: t('menu.dishes.category'), label_method: :any_name

      %script#dish_products_map{type: "text/json"}
        = raw ActiveSupport::JSON.encode(@dish_products)
      #dish_products
        .panel.panel-default
          .panel-heading
            .toolbar
              .btn-toolbar
                .btn-group.btn-group-xs
                  %input.form-control.quick-add{type: 'text', placeholder: I18n.t('menu.quick_add')}
          .panel-body.body
            .noitems
              = I18n.t('menu.dishes.drop_products')

      - if policy(@menu_dish).multilang?
        = render 'shared/fields/multilang_textarea', f: f, input_label: t('menu.dishes.description'), field: :description, object: @menu_dish
      - else
        = f.input :description, as: :text, label: t('menu.dishes.description'), input_html: {:rows => 15, :class => 'textile'}

      - if policy(@menu_dish).change_icon?
        = f.input :photo, label: t('menu.products.icon'), as: :file, wrapper: :vertical_file_input
        - if @menu_dish.persisted? && @menu_dish.photo.present?
          = image_tag @menu_dish.photo.url(:thumb), class: 'img-thumbnail'

      - if policy(Menu::Dish).make_public?
        = f.input :is_public, :label => t('menu.dishes.is_public'), wrapper: :vertical_boolean, as: :boolean

      .form-actions
        = f.button :submit, :class => 'btn-primary', :value => t('helpers.links.save')
        = link_to t("helpers.links.cancel"), back_url(menu_dishes_path), :class => 'btn'
  .col-md-4.sidebar
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => '#product_list'}= t('menu.products.products')
    .tab-content
      #product_list.tab-pane.tree.active
