.rows
  #products-grid.col-md-9
    - if params[:category].present?
      = render 'shared/breadcrumbs'

    %h3
      - if params[:category].present?
        = title @category.name
      - else
        = title t('menu.dishes.dishes')

    - if user_signed_in?
      = link_to t('menu.dishes.add'), new_menu_dish_path, :class => 'btn btn-primary'

    - @menu_dishes.each do |menu_dish|
      .product
        %img.img-thumbnail.pull-left{src: dish_icon_path(menu_dish.icon)}
        .description
          %div
            = link_to menu_dish.name, menu_dish_path(menu_dish.id)
          - if admin?
            .admin-info
              - if menu_dish.user_id
                Added by:
                = link_to menu_dish.user.name, user_path(menu_dish.user)
                %br/
              - if menu_dish.is_public
                = t 'menu.dishes.is_public'
                %br/
              .btn-group.btn-group-xs
                %a.btn.btn-default{href: edit_menu_dish_path(menu_dish), title: t("helpers.links.edit")}
                  %i.glyphicon.glyphicon-edit
                  = t("helpers.links.edit")
                %a.btn.btn-default{href: menu_dish_path(menu_dish), :data => {:method => :delete,  :confirm => t('helpers.links.confirm')}}
                  %i.glyphicon.glyphicon-remove
                  = t("helpers.links.destroy")

    = will_paginate @menu_dishes

  #categories.col-md-3
    %h4= t 'menu.categories'
    %ul.nav.nav-pills.nav-stacked
      - @dish_categories.each do |category|
        %li{class: ("active" if params[:category] && params[:category].to_i == category['id'])}
          %a{href: by_category_menu_dishes_path(category['id'])}= category['name']