%h3
  = title @menu_dish.translation(:name)
  - if policy(@menu_dish).edit? || policy(@menu_dish).destroy?
    .btn-group.btn-group-xs.pull-right.hidden-print
      - if policy(@menu_dish).edit?
        %a.btn.btn-default{href: edit_menu_dish_path(@menu_dish), title: t("helpers.links.edit")}
          %i.glyphicon.glyphicon-edit
          = t("helpers.links.edit")
      - if policy(@menu_dish).destroy?
        %a.btn.btn-default{href: menu_dish_path(@menu_dish), :data => {:method => :delete, :confirm => t('helpers.links.confirm')}}
          %i.glyphicon.glyphicon-remove
          = t("helpers.links.destroy")

- unless @menu_dish.photo.blank?
  %p
    = image_tag @menu_dish.photo.url(:thumb), class: 'img-thumbnail'

.dish-products
  %h4= t('menu.dishes.ingredients')
  - @menu_dish.dish_products.each do |dish_product|
    %div
      %a.glyphicon.glyphicon-link{href: menu_product_path(dish_product['product_id'])}
      = dish_product.product.name + ': ' + dish_product.weight.to_s + t('menu.g')


- if !@menu_dish.description.blank?
  %h4= t('menu.dishes.description')
  %p.description= raw safe_textile(@menu_dish.description)

= render 'shared/disqus', page_url: menu_dish_url(@menu_dish.id), page_id: @menu_dish.id)
