- model_class = Trip
%h3=t '.title', :default => model_class.model_name.human.pluralize
= link_to t('account.trip.add'), new_account_trip_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= t('account.track.track')
      %th= t("account.trip.start")
      %th= t("account.trip.end")
      %th= t("fields.created")
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @trips.each do |trip|
      %tr
        %td= trip.track.name
        %td= trip.start_date
        %td= trip.end_date
        %td=l trip.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_account_trip_path(trip), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), account_trip_path(trip), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
