%h3=t 'account.trips'
= link_to t('account.trip.add'), new_account_trip_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      = sortable_header("id", '#')
      = sortable_header("track", t('account.track.track'))
      = sortable_header("region", t('region.region'))
      = sortable_header("start_date", t("account.trip.start"))
      %th= t("account.trip.end")
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @trips.each do |trip|
      %tr
        %td= trip.id
        %td= trip.track.name
        %td= t(trip.track.region.name, :scope => 'region')
        %td= l(trip.start_date)
        %td= l(trip.end_date)
        %td
          = link_to t("helpers.links.edit"), edit_account_trip_path(trip), :class => 'btn btn-mini'
          = link_to t("helpers.links.destroy"), account_trip_path(trip),
            :method => :delete, :data => { :confirm => t('helpers.links.confirm')}, :class => 'btn btn-mini btn-danger'

= will_paginate @trips