.rows
  .col-md-9
    %h3
      = title t('menu.meals.title')
      .pull-right
        = link_to t('helpers.links.add'), new_menu_meal_path, :class => 'btn btn-primary'

    %table.table.table-striped
      %thead
        %tr
          %th= t('fields.name')
          %th= t('helpers.actions')
      %tbody
        - @menu_meals.each do |meal|
          %tr.menu-item
            %td= meal.name
            %td
              .btn-group
                = link_to edit_menu_meal_path(meal), class: 'btn btn-default btn-sm', title: t('helpers.links.edit') do
                  %i.glyphicon.glyphicon-edit
                = link_to menu_meal_path(meal), method: :delete, data: { confirm: t('helpers.links.confirm')},
                                                class: 'btn btn-sm btn-danger', title: t('helpers.links.destroy') do
                  %i.glyphicon.glyphicon-remove
