!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= (content_for?(:title) ? yield(:title) : "") + t("site_title")
    %meta{:content => content_for?(:description) ? yield(:description) : t('site.meta_description'), :name => "description"}
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : t('site.meta_keywords'), :name => "keywords"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %script{:type => "text/javascript"}
      I18n.defaultLocale = "#{I18n.locale}";
  %body{:class => "#{controller_name} #{action_name}"}
    %nav.navbar.navbar-default.navbar-fixed-top.hidden-print{role: 'navigation'}
      .container
        = render 'layouts/navigation'
    .container.content
      = render 'layouts/messages'

      - if breadcrumbs.size > 0
        = render 'shared/breadcrumbs'

      = yield
    %footer
    = render 'layouts/shared/google_analytics' if Rails.application.secrets.google_analytics_key.present?
